 body {
	font-family: Verdana ;
	margin:0;

}
#gototop {
   position: fixed;
   bottom: 9px;
   right: 9px;
   padding: 0;
   width: 40px;
   height: 40px;
   background: none;
   z-index: 1;
   text-align: center;
   opacity: 0.3;
}
.header1tlo {
 	width: 100%;
 	background-color: #6C6C6C;
 }
 .obramowanieheader {
 	padding-bottom: 5px;
 	border-bottom: 3.5px solid #B70C0C;
 	background-color: #4D4D4D;
}
.logoheader1 li {
	display:inline;
	margin-right: 35px;
    float: right;
}
.logoheader1 {
	margin-top: 4px;
}
.panel {
	margin-top: 0;
	margin-bottom: 0;

}
.wallper {
	background-image: url('../photos/wallpaper.jpg');
	border-bottom: 3.5px solid;
}
.header1 {
 	margin-left: 15px;
 	margin-right: 15px;
 	float: left;
 	width: 100%;
 	height: 80px;
 	margin-top: 10px; 	
}
.headertext {
 	position: relative;
	float: left;
	margin-top: -80px;
	text-transform:uppercase;
	margin-left:520px;
	font-size: 20px;
	color: white;
}
#navBackground {
	background: #111111;
}
ol {
  list-style-type:none;
  height:4em;
  line-height: 2em;
  padding-left: 0;
}
.main {
	position: relative;
	height: 67px;
	width: 1170px;
    line-height: 67px;
    text-transform: uppercase;
	z-index: 1;
}
.main li {
    float: left;
	list-style: none;
    display: block;
    width:167.14px;
    text-align: center;
    z-index: 1;
}

.main a {
  	text-decoration: none;
  	color: #FFFFFF;
  }
.dropdown-menu {
	background-color: #E4E6E7;
	display: block;
	margin-top: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius:0;
	z-index: 1;
}
.menu-upright {
	position:relative;
	float: left;
	top:-5px;
	width: 400px;
}
.menu-upright li{
	position: relative;
	float: left;
	left: 0;
	width: 402px;
	height: 68px;
	border-right: 1px solid;
	border-bottom: 1px solid;
	margin-left: -40px;
}
.menu-upright a {
	position: relative;
	float: left;
	left: 0;
	color: #888;
	width: 400px;	
}

.menu-upright a:hover {
	background-color: #C0C0C0;
}
.dropdown-menu1 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 273px;
}
.borderbottom1 {
 	width: 167.14px;
    border-bottom: 5px solid white;
    height: 71px;
    position: absolute;
    top: -71px;
    float: left;
    overflow: hidden;
 }
 .menu-advertisement a {
	display: inline;
}
 .menu-advertisement1 {
	position: relative;
	float: left;
	left: 10px;
	text-align: center;
	margin: 10px;
}
.subtitles-advertisement strong{
	position: relative;
	left: 5px;
	top: 5px;
	float: left;
	color:black;

}
.menu-advertisement2 {
	position: relative;
	left:10px;
	top: 0;
	float: left;
	text-align: center;
	margin: 10px;
}
.dropdown-menu2 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 205px;
	left:-167px;	
}
.borderbottom2 {
 	width: 167.14px;
 	border-bottom: 5px solid white;
 	height: 71px;
 	position: absolute;
 	top: -71px;
    left: 167px;
    float: left;
    overflow: hidden;
 }
 .ticketBuyPass {
	opacity: 0.5;
}
.ticketBuyPass:hover{
	opacity: 1;
}
.ticket {
	position: relative;
	float: left;
	top: 0;
	left: 10px;
	width: 750px;
	height: 190px;	
}
.ticket img {
	width:750px;
	height:190px;
}
.buyPass {
	position: relative;
	float: left;
	top: -70px;
    left: 10px;
    width: 750px;
    opacity: 0.7;
}
.buyPass img {
	width:750px;
	height: 70px;
}
.borderbottom3 {
 	width: 167.14px;
 	border-bottom: 5px solid white;
 	height: 71px;
 	position: absolute;	
 	top: -4px;
    left: 0px;
    float: left;
}
.dropdown-menu4 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 300px;
	left: -501px;	
}
.borderbottom4 {
 	width: 167.14px;
    border-bottom: 5px solid white;
    height: 71px;
    position: absolute;
    top: -4px;
    left: 0px;
    float: left;
 }
.firstTeam {
	position: relative;
	float: left;
	left: 9px;
	height: 287px;
	width: 380px;
}
.firstTeam img {
	width: 380px;
	height: 287px;
} 
.firstTeamNews { 
	position: relative;
	float: left;
	top: -100px;
	left: 0;
	width: 380px;
	height:100px;
	background-color: #292929;
	opacity: 0.9;
}
.name1 {
	opacity: 1;
	top:15px;
	font-weight: bold;
	font-size: 24px;
	margin-left: 15px;
	width: 380px;
	height: 100px;
	z-index: 1;
	position: relative;
	float: left;
	color: #B70C0C;
}
.secondTeam {
	position: relative;
	float: left;
	left: 14px;
	height: 287px;
	width: 380px;
}
.secondTeam img {
	width: 380px;
	height: 287px;
} 
.secondTeamNews { 
	position: relative;
	float: left;
	top: -100px;
	left: 0;
	width: 380px;
	height:100px;
	background-color: #292929;
	opacity: 0.9;
}
.name2 {
	opacity: 1;
	top:15px;
	font-weight: bold;
	font-size: 21px;
	margin-left: 19px;
	width: 380px;
	height: 100px;
	z-index: 1;
	position: relative;
	float: left;
	color: #B70C0C;
}
.juniorTeams {
	position: relative;
	float: left;
	left: 19px;
	height: 287px;
	width: 380px;
}
.juniorTeams img {
	width: 380px;
	height: 287px;
	
}
.juniorTeamsNews { 
	position: relative;
	float: left;
	top: -100px;
	left: 0;
	width: 380px;
	height:100px;
	background-color: #292929;
	opacity: 0.9;
}
.name3 {
	opacity: 1;
	top:15px;
	font-weight: bold;
	font-size: 24px;
	margin-left: 25px;
	width: 380px;
	height: 100px;
	z-index: 1;
	position: relative;
	float: left;
	color: #B70C0C;
}
.dropdown-menu5 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 205px;
	left: -669px;	
}
.borderbottom5 {
 	width: 167.14px;
 	border-bottom: 5px solid white;
 	height: 71px;
 	position: absolute;
 	top: -71px;
    left: 668px;
    float: left;
 }
.stadiumimages {
	position: relative;
	float: left;
	left: 14px;
	top: 0;
	height: 194px;
	width: 740px;
	opacity: 0.7;

}
.stadiumimages:hover{
	opacity: 1;
}
.stadium1 img{
	height: 194px;
	width: 740px;
}

.gallery {
	position: relative;
	float: left;
	top: -59px;
	width: 740px;
	height: 60px;
	opacity: 0.9;
	color: white;
}
.gallery p {
	position: relative;
	font-size: 19px;
	top: 5px;
	width: 196px;
	height: 21px;
	margin-left: 10px;
	margin-top: 10px;
}
.dropdown-menu6 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 205px;
	left:-835px;	
}
 .borderbottom6 {
 	width: 167.14px;
 	border-bottom: 5px solid white;
 	height: 71px;
 	position: absolute;	
 	top: -71px;
    left:835px;
    float: left;
 }
.smallFanZone {
	position: relative;
	float: left;
	left: 14px;
	top: 0;
	height: 194px;
	width: 740px;
	opacity: 0.7;

}
.smallFanZone:hover{
	opacity: 1;
}
.FanZone img{
	height: 194px;
	width: 740px;
}
.fan {
	position: relative;
	float: left;
	top: -59px;
	width: 740px;
	height: 60px;
	opacity: 0.9;
	color: white;
}
.fan p {
	position: relative;
	font-size: 16px;
	top: 5px;
	width: 332px;
	height: 16px;
	margin-left: 10px;
	margin-top: 10px;
}
.dropdown-menu7 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 206px;
	left:-1002px;	
}
.borderbottom7 {
 	width: 167.14px;
 	border-bottom: 5px solid white;
 	height: 71px;
 	position: absolute;
 	top: -71px;
    left:1001px;
    float: left;
 }
.season {
	position: relative;
	float: left;
	left: 14px;
	top: 0;
	height: 194px;
	width: 740px;
	opacity: 0.7;

}
.season:hover{
	opacity: 1;
}
.season img{
	height: 194px;
	width: 740px;
}
.subtitlesImg {
	position: relative;
	float: left;
	top: -59px;
	width: 740px;
	height: 60px;
	opacity: 0.9;
	color: #B70C0C;
}
.subtitlesImg p {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	top: 5px;
	width: 332px;
	height: 16px;
	margin-left: 10px;
	margin-top: 10px;
}
#menuafterscroll {
	opacity:1.0;
	position: fixed;
	width: 100%;
	background:  #F8F8F8;
	height: 40px;
   	padding: 0;
   	margin-top: -218px;
   	visibility: visible;
   	display: block;
   	float: left;
   	z-index: 1;   	
   }
.carouselcolorbackground{
	background-color: #B8B8B8;
}
#ostatnieWydarzenia{
	width: 1170px;
	margin-left: -16px;
	height: 450px;
	background-color: #B8B8B8;
	top:-1px;
}
.news1 {
	height: 300px;
	width: 100%;
	float:left;
 }
 .carousel-indicators li {
	display: none;
}
.obramowanie {
	position: relative;
	float:left;
	background-color:#929096;
	width:1170px;
	height: 80px;
    top: -80px;
    left: 0;
	opacity: 0.8;
}
.obramowanie a {
	text-decoration: none;
	color: white;	
}
.titleNews {
	position: relative;
	float: left;
	left: 180px;
    top: 2px;
    width: 100px;
    height: 20px;
}
.contentsNews {
	position: relative;
	float: left;
	left: 79px;
    height: 30px;
    width: 430px;
    top: 30px;
    text-transform: uppercase;
    font-size: 18px
}
.moreInfo {
	position: relative;
    float: left;
    width: 40px;
    height: 20px;
    top: 56px;
    left: -352px;
    font-size: 10px;
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
    text-align: center;
    padding: 2px;
}
#homepage {
	background-color: #E4E6E7;
	padding: 10px;
}
.width1 {
    width: 780px;
    margin-right: 20px;
}
.width2 {
	width: 370px;
}
.panel {
	border:none;
}
.col-md-8.margin-right {
    margin-right: 21px;
}
.nextmatch {
	position: relative;
	float: left;
	width:780px;
	height: 400px; 
	left: -15px;	
	background-color: #FEFEFE;
}
.nextmatch1 {
	float: left;
	width:780px;
	height: 400px; 
	left: -15px;	
	background-color: #FEFEFE;
	left: -780px;
    z-index:2;
    position:absolute;
    color:#000;
}
.clear {
    clear:both;
}
.headernextmatch {
	position: relative;
	float: left;
	top: -1px;
	width: 100%;
	height: 80px;
	background-color: #7B1E1E;
	opacity: 0.9;
}
.headernextmatch h4{
	margin-left: 10px;
	color: white;
    text-transform: uppercase;
}
.matchtitle {
	position: relative;
    float: left;
    width: 100%;
    top: 20px;
	text-align: center;
	height: 60px;
	text-transform: uppercase;
}
.centernextmatch {
	float: left;
	position: relative;
	top: 50px;
	width: 100%;
	height:100px;
}

.centernextmatch p {
	position: relative;
	float: left;
	font-weight: 900;
	color: #D2D5D6;
	text-transform: uppercase;
	font-size: 2rem;
	top: -60px;
	width: 100%;
	text-align: center;

}
.positioncrest1 {
	position: relative;
    left: 180px;
    float: left;
}
.positioncrest2 {
	position: relative;
	float: left;
	left:480px;
	top: -158px;
}
.button-prev {
	position: relative;
	float: left;
    height: 100px;
    width: 50px;
    background-color: #F6F6F6;
    border: none;
    left: -120px;
    top: -158px;
}
.button-next {
	position: relative;
	float: right;
    height: 100px;
    width: 50px;
    background-color:  #F6F6F6;;
    border: none;
    top: -158px;
}
.footernextmatch {
	position: relative;
	top: 101px;
	float: left;
	width: 100%;
	height: 60px;
	background-color: #6D0505;
	opacity: 0.9;
}
.fixtures {
	position: relative;
    float: right;
    right: 15px;
    top: 25px;
}
.fixtures p a{
	text-transform: uppercase;
	text-decoration: none;
	color:#FCFCFC;
}
table, tr, td {
border: 0px solid #DDDDDD;
}
table, th, td {
    border: 1px solid black;
}
.table1 {
	position: relative; 
	left: -16px;
	float: left;
	width:370px;
}
.headertable1 {
	position: relative;
	float: left;
	left: 1px;
	width: 370px;
	height: 80px;
	background-color: #7B1E1E;
	opacity: 0.9;
	}
.headertable1 h4 {
	margin-left: 10px;
	color: white;
    text-transform: uppercase;
}
.intable {
	position: relative;
	top: -4px;
	left: 60px;
	float: left;
	width: 300px;
	height: 250px;
	margin:5px ;
	border: none;
}
.awans {
	background-color: #80FF80;
}
.center {
	padding: 3px;
}
.footertable {
	position: relative;
	top: 3px;
	left: 1px;
    float: left;
    width: 370px;
    height: 60px;
    background-color: #6D0505;
    opacity: 0.9;
}
.buttontable {
	position: relative;
	top: 24px;
    left: 249px;
	height: 34px;
    color: white;
    text-transform: uppercase;
}
.lastmatch {
	position: relative;
	float: left;
	left: -14px;
	top: 10px;
	height:300px;
	width: 380px;
}
.titlelastmatch {
	position: relative;
	top:-100px;
	float: left;
	width: 380px;
	height: 100px;
	background-color:#6D0505;
	opacity: 0.8; 
}
.subtitleslastmatch {
	position: relative;
	float: left;
	color: #F5F0F0;
	margin-left: 10px;
}
.subtitleslastmatch p{
	margin-left: 40px;
}
.stadium {
	position: relative;
	float: left;
	top: 10px;
	height:300px;
	width: 350px;
	left: -4px;
}
.stadium img {
	width: 380px;
	height:300px;
}
.titlestadium {
	width: 380px;
	height: 100px;
	position: relative;
	top: -100px;
	background-color: #6D0505;
	opacity: 0.8;
}
.subtitlestadium {
	position: relative;
	float: left;
	color: #F5F0F0;
	margin-left: 10px;
}
.subtitlestadium p {
	margin-left: 70px;
}

.sponsorwindow {
	position: relative;
	float: left;
	top: 10px;
	width: 369px;
	height: 215px;
	background-color: #FDFE40;
	padding: 5px;
	left: 6px;
}
.adidasbanner {
	position: relative;
	float: left;
	top: 10px;
	width: 369px;
	height:85px;
	background-color: #060606;
	left: 6px;
}
#ostatnieWydarzeniaReserve {
	position: relative;
	float: left;
	height: 300px;
	width: 380px;
	top:20px;
	left: -14px;

}
.caption1 {
	position: relative;
	float: left;
	top: 0px;
	background-color: #6D0505;
	width: 380px;
	margin-left: -76px;
	height: 100px;
}
.control1 {
	height: 200px;
}
.control2 {
	height: 200px;
}
#ostatnieWydarzeniaJunior {
	position: relative;
	float: left;
	height: 300px;
	width: 380px;
	top:20px;
	left: -4px;
}
.adidasshopofficial {
	position: relative;
	float: left;
	top: 20px;
	width: 370px;
	height: 300px;
	left: 6px;
}
.enteradidasshop {
	position: relative;
	width: 370px;
	height: 100px;
	background-color:#131313;
	top: -100px;
	opacity: 0.6;
}
.padd1 {
	padding: 0px;
	margin-top: 40px;
}
.padd1 .listing {
	border-bottom: 1px dotted #181818;

}
.padd1 .listing:last-child {
	border-bottom: none;
}
.padd1 .listing a {
	text-decoration: none;
	color: black;
}

.listing {
	padding: 0px 0px 10px;
	margin-bottom: 10px;
}

.image {
	padding:0px;
	position: relative;
	width: 390px;
}
.image img {
	width: 335px;
	height: 225px;
}
.title {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600
}
.title h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px;
	color: black;
	text-decoration: none;
}

.date {
	margin: 20px 0px;
	font-size: 12px;
	display: block;
	letter-spacing: 3px;
}
.teaser {
	font-size: 24px;
	display: block;
	line-height: 29px;
	color: #181818;
	font-family: Arial;
}
.padd1Old {
	padding: 0px;
}
.padd1Old .listing {
	border-bottom: 1px dotted #181818;

	padding: 0px 0px 10px;
	margin-bottom: 10px;
} 
.padd1Old .listing a {
	text-decoration: none;
	color: black;
}
.line-half {
	background-image: url("../photos/line-half.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% 8px
}
.pad-top-15 {
    padding-top: 40px;
}
.archive {
	width: 770px;
	padding: 5px 0px;
    border-bottom: 1px dotted #181818
}
.archive::after {
    background-size: 100% 8px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("../photos/line-half.png");
}

.archive:last-child {
    border: 0; }

.imageOld {
	padding:0px;
	position: relative;
	width: 250px;
}
.imageOld img {
	width: 200px;
	height: 125px;
}
.data {
	position: relative;
	top: 0px;
	left: 0px;
	width: 430px;
}
.data .title h3 {
	text-decoration: none;
}
.messages {
	position: relative;
	float: right;
	text-align: center;
	padding-bottom: 10px;
	height: 583px;
}
.messagesHover:hover {
	opacity: 0.8;
}
.messages::before {
	position: absolute;
	background: transparent url("../photos/bg-aside.png") repeat-y scroll left center;
	width: 15px;
	top: 0px;
	left: -40px;
	height: 100%;
	display: block;
	content: " ";
}
.messages::after {
	position: absolute;
	background: transparent url("../photos/bg-aside.png") repeat-y scroll left center;
	width: 15px;
	top: 0px;
	left: 285px;
	height: 100%;
	display: block;
	content: " ";
}
.lh-60 {
	line-height: 60px;
	margin-top: 0px;
}
.lh-60 h3 {
	margin: 0px;
	width:105%;
	height: 2000%;
	background-color: #6D0505;
	opacity: 0.9;
	color: white;
}
.message {
	left: -27px;
}
.wrapperImageSponsor{
 padding: 0px;
 position: relative;
 top: 35px;
}
.wrapperImageSponsor img {
	display: block;
	width:244px;
	height: 515px;
}
.sponsorbaner {
	position: relative;
	left: -15px;
	top: 30px;
	width:1170px;
	height: 119px;
	margin-bottom:30px;
}

#juniorzy {
	background: url(../photos/tlo.jpg);
	background-repeat: repeat-x;
}
#juniorzy img {
	width: 100%;
	height: 280px;
}
.odstep {
	margin:40px;
	opacity: 0.7;
	background: rgb(189, 56, 51);
	border: none;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 0 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.big {
	    cursor: pointer;
}
.big:hover {
	opacity: 0.9;
}
.zdjecieJunior {
	margin:0;
	opacity: 0.6;
	border-radius: 0.5px;
}
#sponsors {
	background: url(../photos/footboll_pattern.png);
	background-repeat: space;
}
.logo {
	text-align: center;
	list-style: none;
	opacity: 1;
	cursor: pointer;
}
.logos {
	float: left;
   	list-style: none;	
   	margin-left: 39px;
   	margin-top: 40px;
   	opacity: 1;
   	text-align: center;
}
.logo:hover {
	opacity: 0.2;
}
.wallper1 {
	background-image: url('../photos/wallpaper.jpg');
	border-top: 3.5px solid;
}
.textfooter1 {
	margin-top: 10px;
	float: left;
	color: #CCCCCC;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.widget-title {
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 22px;
	text-transform: uppercase;
}
.herbfooter {
	margin-top: 22px;
	width: 150px;
	float: left;
	margin-bottom: 20px;
	margin-left: 0;
	margin-top: 0;
}
.menumini {
	margin:0;
	padding: 0;
	margin-top: 66px;
	width: 120%;
	text-decoration: none;

}
.menumini li {
	width: 40%;
	float: left;
	margin-bottom: 15px;
	margin-right: 10px;

}
.menumini li a {
	text-decoration: none;
		color: #CCCCCC;
}
.menumini li:first-child a{
	color: #A70000;
}
.menumini > li > a:hover {
	color:#A70000;
 	background: none;
 	transition:0.2s;
}
.daneklubu {
	position: relative;
	color: #CCCCCC;
	float: right;
	margin-top: 0;
	margin-left: 1px;
}
.social {
 	margin-top: 0;
  	text-align: center;
 }
.social .lit-follow {
 	width: 275px;
 }
.social .list-follow li {
	z-index: 1;
}
.list-follow {
	position: relative;
	float: right;
	overflow: hidden;
}
.obramowaniefooter {
	padding-top: 5px;
 	border-top: 3.5px solid #B70C0C;
 	background-color: #4D4D4D;
}
.text-center {
	text-align: center;
	color: #CCCCCC;
}
.text-center ul{
	text-decoration: none;
	color: #CCCCCC;
}