
 body {
	font-family: Verdana ;
	margin:0;

}
.panel {
	margin-top: 0;
	margin-bottom: 0;

}
 .news1 {
	height: 300px;
	width: 100%;
	float:left;

 }
 .tloheader1 {
 	background-color: #AD0005;
 	z-index: 2;
 }
.obramowanieheader {
 	padding-bottom: 5px;
 	border-bottom: 3.5px solid #B70C0C;
 	background-color: #4D4D4D;
}
.obramowaniefooter {
	padding-top: 5px;
 	border-top: 3.5px solid #B70C0C;
 	background-color: #4D4D4D;
}
.logoheader1 {
	margin-top: 4px;
}
.logoheader1 li {
	display:inline;
	margin-right: 35px;
    float: right;
}
  .header1tlo {
 	width: 100%;
 	background-color: #6C6C6C;
 }
 .headeradidas {
 	position: relative;
 	float: left;
 	margin-left: 800px;
 	margin-right: 5px;
 }
 .headerpzpn {
 	position: absolute;
 	float: left;
 	margin-left: 950px;
 }


 .headsponsor {
 	position: absolute;
 	float: left;
 	margin-left: 1055px;
 	opacity: 0.4;
 }
.wallper {
	background-image: url('../photos/wallpaper.jpg');
	border-bottom: 3.5px solid;

}
.wallper1 {
	background-image: url('../photos/wallpaper.jpg');
	border-top: 3.5px solid;

}
 .header1 {
 	margin-left: 15px;
 	margin-right: 15px;
 	float: left;
 	width: 100%;
 	height: 80px;
 	margin-top: 10px;
 	
 	
 }
 .headertext {
 	position: relative;
	float: left;
	margin-top: -80px;
	text-transform:uppercase;
	margin-left:520px;
	font-size: 20px;
	color: white;


}
.carouselcolorbackground{
	background-color: #B8B8B8;
}
#ostatnieWydarzenia{
	width: 1170px;
	margin-left: -16px;
	height: 450px;
	background-color: #B8B8B8;
	top:-2px;'
	opacity: 1;
}
.obramowanie {
	float:left;
	background-color:#9D0C0A;
	width:1170px;
	margin-left:-234px;
	opacity: 0.3;
}
.carousel-indicators li {
	display: none;
}
.aside {
	position: relative;
	float: left;
	margin-left: 870px;
	margin-top: -301px; 
	border-right: 1.5px solid transparent;
	width: 390px;
	border-right-color: #ddd;
	border-bottom: 1.5px solid transparent;
	border-bottom-color: #ddd;
	background-color: #F8F8F8;
}
.tabela{ 
	font-size: 10px;
	width:100%;	
	text-transform: uppercase;
	margin-left: 56px;
}
table, th, td {
    border: 1px solid black;
}
.positionButtonTable {
	float: left;
	margin-left: 205px;
}
.filmyoutube{
	position: relative;
	float: left;
	margin-left: 870px;
	margin-top: 0px;
	margin-bottom: -15px;
	width: 390px;
}

.center {
	padding: 3px;
}

.awans {
	background-color: #80FF80;
}
.spadek {
	background-color: #FF8080 ;
}
.tabletitle {
	font-family: 'Dosis', sans-serif;;
	width: 100%;
	text-align: center;
}
.logo {
	text-align: center;
	list-style: none;
}
.logos {
	float: left;
   	list-style: none;	
   	margin-left: 39px;
   	margin-top: 40px;
}
.kontakt {
	width: 100%;
	color:#d9d9d9;
	border-top: 3.5px solid;
}
.herb {
	width: 100%;
	float:left;
	text-align: right;
	margin-top: -100px;
}
.stopka {
	width: 1170px;
	float: left;
	text-align: center;
	background: #242430;
	color:#d9d9d9;
	margin-left: -15px;
}

#gototop {
   position: fixed;
   bottom: 9px;
   right: 9px;
   padding: 0;
   width: 40px;
   height: 40px;
   background: none;
   z-index: 1;
   text-align: center;
   opacity: 0.3;
}
#tloaside {
	background-color: #E4E6E7;
	padding: 20px;
}
.col-md-8.panel.width {
    width: 750px;
    margin-right: 50px;
}
.nextmatch {
	float: left;
	width:750px;
	height: 400px; 
	margin-left: -16px;	
}
.headernextmatch {
	position: relative;
	top: -2px;
	float: left;
	width: 750px;
	height: 80px;
	background-color: #EDADAD;
}
.headernextmatch h4{
	margin-left: 10px;
}
.matchtitle {
	position: relative;
    margin-left: 279px;
    float: left;
	text-align: center;
	height: 30px;
	margin-top: 30px;
	text-transform: uppercase;

}
.centernextmatch {
	float: left;
	position: relative;
	top: 30px;
	left:0;
	text-align: center;
	width: 750px;
	height:100px;
}
.positioncrest1 {
	position: relative;
	top: 20px;
    left: 180px;
    float: left;
}
.positioncrest2 {
	position: relative;
	float: right;
	top:20px;
	right:180px;
}
.centernextmatch p {
	position: relative;
	left: 245px;
	top: 54px;
	float: left;
	width:20px;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 900;
	color: #D2D5D6;

}
.button-prev {
	float: left;
    height: 110px;
    width: 70px;
    background-color: #F6F6F6;
    position: relative;
    border: none;
    left: -140px;
    top: 20px;
}
.button-next {
	float: right;
    height: 110px;
    width: 70px;
    background-color:  #F6F6F6;;
    position: relative;
    border: none;
    right: -120px;
    top: 20px;
}
.footernextmatch {
	position: relative;
	top: 101px;
	float: left;
	width: 750px;
	height: 60px;
	background-color: #6D0505;
	opacity: 0.9;
}
.fixtures {
	position: relative;
    float: right;
    right: 15px;
    top: 25px;
}
.fixtures p a{
	text-transform: uppercase;
	text-decoration: none;
	color:#FCFCFC;
}
.width2 {
	width:370px;
}
.table1 {
	position: relative; 
	top: -2px;
	left: -16px;
	float: left;
	width:370px;
}
.headertable1 {
	float: left;
	width: 370px;
	height: 80px;
	background-color: #EDADAD;
	}
.headertable1 h4 {
	margin-left: 10px;
}

.main {
	height: 68px;
    line-height: 67px;
    font-size: 14px;
    text-transform: uppercase;
	background: #111111;
}
.main li {
    float: left;
	list-style: none;
    content: "";
    display: block;
    top: 155px;
    width:150px;
    text-align: center;
}
.main a {
  	text-decoration: none;
  	color: #CCCCCC;
  }

 .dropdown-menu > li > a:hover {
 	color:red;
 	background: none;
 	transition:0.2s;
 }
#menuafterscroll {
	opacity:1.0;
	position: fixed;
	width: 100%;
	background:  #F8F8F8;
	height: 40px;
   	padding: 0;
   	margin-top: -218px;
   	visibility: visible;
   	display: block;
   	float: left;
   	z-index: 1;   	
   }
.menu-upright {
	position:relative;
	float: left;
	width: 300px;
	border-right: 1px solid;
	margin-top: -6px;
}
.menu-upright li{
	position: relative;
	text-align: center;
	left: 0;
	float: left;
	
	width: 250px;
	height: 68px;

}
.menu-upright a {
	color: #888;
	display: block;
	text-decoration: none;
	position: relative;
	float: left;
	top:-155px;
	border-bottom: 1px solid;
	width: 300px;
	margin-left: -41px;
}
.menu-advertisement {
	position: relative;
	float: left;
	margin-top: 10px;
	margin:10px;
}
.menu-advertisement a {
	display: inline;
}
 .dropdown-menu {
	background-color: #E4E6E7;
	display: block;
	margin-top: 0px;
}
.dropdown-menu1 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 205px;
	left: -41px;	
}
.dropdown-menu2 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 204px;
	left:-190px;	
}
.dropdown-menu3 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 300px;
	left: -340px;	
}
.dropdown-menu4 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 300px;
	left: -490px;	
}
.dropdown-menu5 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 300px;
	left: -640px;	
}
.dropdown-menu6 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 300px;
	left:-790px;	
}
.dropdown-menu7 {
	position: absolute;
	float: left;
	width: 1170px;
	height: 300px;
	left:-940px;	
}
.intable {
	position: relative;
	top: -4px;
	left: 60px;
	float: left;
	width: 300px;
	height: 250px;
	margin:5px ;
	border: none;

}
table, tr, td {
border: 0px solid #DDDDDD;
}
.buttontable {
	position: relative;
	top: 24px;
    left: 249px;
	height: 34px;
    color: white;
    text-transform: uppercase;
}
.footertable {
	position: relative;
	top: 3px;
    float: left;
    width: 370px;
    height: 60px;
    background-color: #6D0505;
    opacity: 0.9;
}
.odstep {
	margin:40px;
	opacity: 0.7;
	background: rgb(189, 56, 51);
	border: none;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 0 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.lastmatch {
	position: relative;
	float: left;
	top: 10px;
	height:300px;
	width: 380px;
}
.titlelastmatch {
	position: relative;
	top:-100px;
	float: left;
	width: 380px;
	height: 100px;
	background-color:#6D0505;
	opacity: 0.8; 
}
.subtitleslastmatch {
	position: relative;
	float: left;
	color: #F5F0F0;
	margin-left: 10px;
}
.subtitleslastmatch p{
	margin-left: 40px;
}
.authorlastmatch p{
	position: relative;
	top:-100px;
	float: left;
	width: 380px;
	text-align: center;
	color: #FCFCFC;
}
.stadium {
	position: relative;
	float: left;
	top: 10px;
	height:300px;
	width: 350px;
}
.subtitlestadium {
	position: relative;
	float: left;
	color: #F5F0F0;
}
.subtitlestadium p {
	margin-left: 70px;
}
.titlestadium {
	width:350px;
	height: 100px;
	position: relative;
	top:-100px;
 	background-color:#6D0505;
	opacity: 0.8; 
}
.sponsorwindow {
	position: relative;
	float: left;
	top: 10px;
	width: 370px;
	height: 215px;
	background-color: #FDFE40;
	padding: 5px;
}
.adidasbanner {
	position: relative;
	float: left;
	top: 10px;
	width: 370px;
	height:85px;
	background-color: #060606;
}
.enteradidasshop {
	position: relative;
	width: 370px;
	height: 100px;
	background-color:#131313;
	top: -100px;
	opacity: 0.6;
}
.adidasshopofficial {
	position: relative;
	float: left;
	top: 20px;
	width: 370px;
	height: 300px;

}
.reserves {
	position: relative;
	float: left;
	top: 10px;
	height:400px;
	width: 380px;
	margin-top: 10px;
}
.reserveslastinformation {
	position: relative;
	width: 380px;
	height: 100px;
	background-color:#4D5258; 
}
#ostatnieWydarzeniaReserve {
	position: relative;
	float: left;
	width: 380px;
	height: 100px;
	top:20px;
}
.caption1 {
	position: relative;
	float: left;
	top: 0px;
	background-color: #6D0505;
	width: 380px;
	margin-left: -76px;
	height: 100px;
}
.control1 {
	height: 200px;
}
.control2 {
	height: 200px;
}
.juniorteams {
	position: relative;
	float: left;
	top: 10px;
	height:200px;
	width: 350px;
	margin-top: 10px;
}
#ostatnieWydarzeniaJunior {
	position: relative;
	float: left;
	width: 350px;
	height: 100px;
	top:20px;
}
.sponsorbaner {
	position: relative;
	top: 30px;
	width:1170px;
	height: 119px;
	margin-bottom:20px;
}
.zdjecieJunior {
	margin:0;
	opacity: 0.6;
	border-radius: 0.5px;
} 

.main, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#gototop {
   position: fixed;
   bottom: 9px;
   right: 9px;
   padding: 0;
   width: 40px;
   height: 40px;
   background: none;
   z-index: 1;
   text-align: center;
   opacity: 0.3;
}
#juniorzy {
	background: url(../photos/tlo.jpg);
	background-repeat: repeat-x;
}
#juniorzy img {
	width: 100%;
	height: 280px;
}
.odstep {
	margin:40px;
	opacity: 0.7;
	background: rgb(189, 56, 51);
	border: none;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 0 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.zdjecieJunior {
	margin:0;
	opacity: 0.6;
	border-radius: 0.5px;

}
.big {
	    cursor: pointer;
}
.big:hover {
	opacity: 0.9;
}
#sponsors {
	background: url(../photos/footboll_pattern.png);
	background-repeat: space;
}
.txt-center {
	text-align: center;
}
.logo {
	text-align: center;
	list-style: none;
	opacity: 1;
	cursor: pointer;
}
.logos {
	float: left;
   	list-style: none;	
   	margin-left: 39px;
   	margin-top: 40px;
   	opacity: 1;
   	text-align: center;
}
.logo:hover {
	opacity: 0.2;
}

.social {
 	margin-top: 0;
  	text-align: center;
 }
.social .lit-follow {
 	width: 275px;
 }
.social .list-follow li {
	z-index: 1;
}
.list-follow {
	position: relative;
	float: right;
	overflow: hidden;
}

.text-center {
	text-align: center;
	color: #CCCCCC;
}
.text-center ul{
	text-decoration: none;
	color: #CCCCCC;
}
.herbfooter {
	margin-top: 22px;
	width: 150px;
	float: left;
	margin-bottom: 20px;
	margin-left: 0;
	margin-top: 0;
}
.textfooter1 {
	margin-top: 10px;
	float: left;
	color: #CCCCCC;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.daneklubu {
	position: relative;
	color: #CCCCCC;
	float: right;
	margin-top: 0;
	margin-left: 1px;
}
.panel1 {background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    width: 100%;}
.widget-title {
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 22px;
	text-transform: uppercase;
}
.menumini {
	margin:0;
	padding: 0;
	margin-top: 66px;
	width: 120%;
	text-decoration: none;

}
.menumini li {
	width: 40%;
	float: left;
	margin-bottom: 15px;
	margin-right: 10px;

}
.menumini li a {
	text-decoration: none;
		color: #CCCCCC;
}
.menumini li:first-child a{
	color: #A70000;
}
.menumini > li > a:hover {
	color:#A70000;
 	background: none;
 	transition:0.2s;
}