 body {
	font-family: Verdana ;
	margin:0;
}
#gototop {
   position: fixed;
   bottom: 9px;
   right: 9px;
   padding: 0;
   width: 40px;
   height: 40px;
   background: none;
   z-index: 1;
   text-align: center;
   opacity: 0.3;
}
@font-face{
    font-family: MouseoSans_500;
    src:url('../fonts/MuseoSans_500.otf');}
header {
	z-index: 100;
	min-width: 320px;
	color: #FFF;
	font-family: MouseoSans_500;
}
header a {
	text-transform: uppercase;
}

header .wrapper {
	max-width:990px;
}
section .wrapper {
	max-width: 990px;
}
.wrapper {
	color: #FFF;
	max-width: 1020px;
	margin: 0px auto;
	padding: 0px;
	height: inherit;
	position: relative
}
.positionbutton a{
	margin-top: 20px;
	text-decoration: none;
    color: #000;
}
#headerTop nav > a {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px 2.94%;
	line-height: 28px;
	height: 28px;
	color: #9A9A9A;
	text-decoration: none;
}
#headerTop{
	height: 29px;
	background-color: #000;
	color: #FFF;
	overflow: visible;
	font-size: 14px;
}
#headerTopNav {
	margin: 0px;
	padding: 0px;
	width: 50%;
}
.well {
	min-height: 20px;

	margin-bottom: 20px;
	border:none;
	background-color: black;
}
.well-sm {
	position: absolute;
	float: left;
	left: 686px;
	margin: 0px;
	border-radius: 3px;
	padding: 4px;
	top: -1px;
}
.well-sm input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	width: 111px;
	height: 20px;
	color: black;
}
.button4 {
	float: left;
	top: 4px;
	background-color: #883434;
	text-align: center;
	border-radius: 9px;
	position: absolute;
	width: 165px;
	left: 116px;
}
#headerCenter {
	height: 90px;
	background-color: #FFF;
	color: #000;2
}
#headerTitle {
	color: #000;
	display: block;
	float: left;
	width: 42%;
	height: inherit;
	padding: 0px 1.47%;
	line-height: 90px;
	text-transform: none;
	white-space: nowrap;
	text-align: left;
	font-family: MouseoSans_500;
	font-size: 37px;
	text-decoration: none;
}
#headerTitle strong {
	text-transform: uppercase;
	font-family: MouseoSans_500;
	font-weight: 900;
}
#headerLogo {
	position: absolute;
	top: 2px;
	left: 50%;
	margin-left: -75px;
	opacity: 1;
}
.sponsorList {
	float: right;
	list-style: outside none none;
	margin: 0px;
	padding: 0px;
	width: 50%;
	height: inherit;
}
.sponsorList li{
	float: right;
	margin: 0px 2.94%;
	padding: 0px;
	height: 65px;
	line-height: 90px;
}
.sponsorList li a {
	display: block;
	height: 100%;
	overflow: hidden;
	line-height: inherit;
	float:right;
}

#headerNavs {
	height: 60px;
	background-color: #000;
	color: #FFF;
	clear: both;
	font-size: 22px;
}
#headerNavs nav {
	display: table;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#headerNavs nav > ul {
	display: table-row;
	list-style: outside none none;
	margin: 0px;
	padding: 0px;
}
#headerNavs nav > ul > li {
	display: table-cell;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#headerNavs nav > ul > li > h2 {
	display: block;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
 #headerNavs nav > ul > li > h2 > a {
 	display: block;
	white-space: nowrap;
	padding: 0px 10px;
	color: #E4E4E4;
	text-decoration: none;
 }
#headerNavs nav > ul > li > h2 > a >span {
	display: inline-block;
	height: 60px;
line-height: 58px;
border-bottom: 2px solid #000;
}
.pozabaner {
	position: absolute;
    float: left;
    top: 0;
    width: 100%;
    height: 600px;
    background-color: #C83D3C;
    z-index: 3;
}
#baner {
	position: relative;
	width: 600px;
	height: auto;
	left: 50%;
	margin-left: -300px;
	top: 230px;
	font-family: MouseoSans_500;
	text-decoration: none;
	z-index: 1;
}

.logobaner {
	position: relative;
	left: 50%;
	top: -210px;
	width: 76px;
	height: 20px;
	margin-top: -10px;
	margin-left: 252px;
}
.subtitlesbanner {
	width: 600px;
    position: absolute;
    left: 50%;
    top: 70%;
    margin-left: -300px;
    margin-top: -200px;
}
.subtit1 {
	position: relative;
	float:left;
	top: 17px;
	height: 96px;
	width: 100%;
}
.subtit1 p {
	color: #FFFFFF;
	font-size: 38px;
	text-transform: uppercase;
	text-align: center;
}
.subtit2{
    position: relative;
    float: left;
    height: 21px;
    top: 35px;	
}
.subtit2 p {
	color: #B2B2B2;
	font-weight: 100;
	width: 537px;
	font-size: 18.5px;
	margin-left: 40px;
}
.subtit2 b {
	font-size: 1.2em;
	color: #B2B2B2;
	font-weight: 900;
}
.button1 {
	position: relative;
	float: left;
	top: 70px;
	left: 73px;
	width: 217px;
	height: 40px;
	background-color: #B3B3B3;
	border: 1px solid #FFF;
	border-radius: 9px;
	text-align: center;
	color: #FFF;
}


.button2 {
	position: relative;
    float: left;
    top: 70px;
    left: 98px;
    width: 217px;
    height: 40px;
    background-color: #B3B3B3;
    border: 1px solid #FFF;
    border-radius: 9px;
    margin-left: -4px;
    text-align: center;
    color: #FFF;
}
#nameField {
	font-size: 19px;
	color: white;
	text-align: center;
}
input:-moz-placeholder {
	color: #FFFFFF;

}
input::-webkit-input-placeholder {color: #FFFFFF}
.button3 {
	position: relative;
	float: left;
	top: 86px;
	left: 73px;
	width: 459px;
	height: 40px;
	background-color: #FFF;
	text-align: center;
	border-radius: 9px;
}
.button3 p {
	text-align: center;
	margin-top: 1px;
}
.button3 a {
	color: #C74140;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    text-transform: none;

}
.buttonposition {
	position: absolute;
	float: right;
	top: -25px;
	left: 156%;
	border: medium none;
	background-color: #C83D3C;


}
.buttonposition strong{
	text-align: center;
}
hr {
   	position: relative;
	width: 95px;
	top: 90px;
	float: left;
	border: 1px solid #333;
	opacity: 0.5;
	margin-left: 254px;
}
.titleafterbanner {
	width: 260px;
	height: 81px;
	position: absolute;
	left: 47%;
	top: 170px;
	margin-left: -109px;
	text-align: center;
	z-index: 1;
	color: #E8E5E5;
}
.titleafterbanner strong {
	font-size: 15px;
}
.titleafterbanner p {
	font-size: 15px;
    font-weight: lighter;
    opacity: 0.7;
}
.positionimg {
	display: inline-block;
	width: 608px;
	height: 100px;
	position: absolute;
	margin-left: -354px;
	top: 152px;
}
.positionimg img {
	-moz-border-radius: 105px;
 	-webkit-border-radius: 105px;
 	border-radius: 105px;
	border: 5px solid #C83D3C ;
}
.img1banner {
	position: relative;
	float: left;
	left: 24px;
}
.img2banner {
	position: relative;
	float: left;
	left: 314px;
} 	

#footersite {
 	width: 100%;
 	background-color: #080808;
 	height: 480px;
 	position: relative;
 }
 .footerhead {
	border-bottom: 1px solid white;
	text-transform: uppercase;
	margin-bottom: 5%;
	width: 990px;
    margin-left: 15px;
}
.footerhead span {
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    vertical-align: bottom;
    font-family: MouseoSans_500;
    border-bottom: 2px solid white;
    margin-top: 25px;
    color: #FFF;
 }
 #footersite1 {
 	width: 100%;
 	height: 480px;
 	position: relative;
 }
.partners {
	float: left;
	padding-top: 20px;
	text-align: center;
	width: 100%;
}
.partners div {
	float: left;
	margin-bottom: 25px;
	width: 100%;
}
.partners div a {
	margin-left:66px;
	opacity: 0.5;
}

.partners div a.drutexfooter{
    width: 220px;
    height: 100px;
    background: url('../photos/drutexfooter1.png');
    text-decoration: none;
    display: inline-block;
   position: absolute;
   float: left;
   left: 0px;
}
.partners div a.drutexfooter:hover{
    background: url('../photos/drutexfooter.png');
}
.partners div a.adidasfooter{
	text-decoration: none;
    display: inline-block;
   position: absolute;
   float: left;
   left: 0px;
	width: 300px;
    height: 200px;
    background: url('../photos/Adidas-Web1.png');
}
.partners div a.adidasfooter:hover{
    background: url('../photos/Adidas-Web11.png');
}
.partners div a.urzadbyt {
	width: 161px;
	height: 176px;
	background: url("../photos/urzadfooter1.png");
	text-decoration: none;
	display: inline-block;
	position: absolute;
	float: left;
	left: 250px;
	top: 140px;
	margin-left: 199px;
}
.partners div a.urzadbyt:hover{
    background: url('../photos/urzadfooter.png');
}
.partners div a.polsatsport{
	width: 275px;
	height: 80px;
	background: url("../photos/polsatfooter1.png");
	display: inline-block;
	position: absolute;
	float: left;
	left: 650px;
	top: 183px;
}
.partners div a.polsatsport:hover {
	background: url('../photos/polsatfooter.png');
}
.drutexfooter {
	width: 100px;
	height: 100px;
	background-color: red;
}
.bytoviafooter {
	position: absolute;
	left: 50%;
	margin-left: -42px;
	margin-bottom: 2px;
	display: block;
	z-index: 2;
	top: 430px;
}
.backgroundcolormenumini {
	position: absolute;
	width: 100%;
	background-color:#212121;
	height: 50%;

}
.obramowanieheader {
 	padding-bottom: 5px;
 	border-bottom: 3.5px solid #B70C0C;
 	background-color: #4D4D4D;
}
.logoheader1 li {
	display:inline;
	margin-right: 35px;
    float: right;
}
.logoheader1 {
	margin-top: 4px;
}
.panel {
	margin-top: 0;
	margin-bottom: 0;

}
.wallper {
	background-image: url('../photos/wallpaper.jpg');
	border-bottom: 3.5px solid;
}
.header1 {
 	margin-left: 15px;
 	margin-right: 15px;
 	float: left;
 	width: 100%;
 	height: 80px;
 	margin-top: 10px; 	
}
.headertext {
 	position: relative;
	float: left;
	margin-top: -80px;
	text-transform:uppercase;
	margin-left:520px;
	font-size: 20px;
	color: white;
}
#navBackground {
	background: #111111;
}
ol {
  height:4em;
  line-height: 2em;
  top: 530px;
}
.main {
	position: relative;
	height: 67px;
	width: 1170px;
    line-height: 67px;
    text-transform: uppercase;
}
.main li {
    float: left;
	list-style: none;
    display: block;
    width:167.14px;
    text-align: center;
    z-index: 2;
}

.main a {
  	text-decoration: none;
  	color: #FFFFFF;
  }

.menu-upright {
	list-style: outside none none;
	margin: 0px;
	padding: 0px 1%;
	width: 29%;
	float: left;
}
.menu-upright li{
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.menu-upright a {
	display: block;
	padding: 4.5%;
	color: #686868;
	border-bottom: 1px solid #CDCDCD;	
	text-decoration: none;
}

.menu-upright li a:hover {
	opacity: 0.7;
}

.dropdown-menu1 {
	position: absolute;
	float: left;
	width: 100%;	
	height: auto;
	padding: 1.5% 2%;
	font-size: 14px;
	background-color: #FFF;
	border-width: 1px;
	border-style: none solid solid;
	border-color: #F2F2F2;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #000;
	overflow: auto;
	display: none;
	top: 60px;
	z-index: 1;
}

 .menu-advertisement a {
	display: inline;
}
 .menu-advertisement1 {
	position: relative;
	float: left;
	left: 10px;
	text-align: center;
	margin: 10px;
}
.subtitles-advertisement strong{
	position: relative;
	left: 5px;
	top: 5px;
	float: left;
	color:black;

}
.menu-advertisement2 {
	position: relative;
	left:10px;
	top: 0;
	float: left;
	text-align: center;
	margin: 10px;
}
.dropdown-menu2 {
	position: absolute;
	float: left;
	width: 100%;	
	height: auto;
	padding: 1.5% 2%;
	font-size: 14px;
	background-color: #FFF;
	border-width: 1px;
	border-style: none solid solid;
	border-color: #F2F2F2;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #000;
	overflow: auto;
	display: none;
	left: 0;
	top: 60px;
	z-index: 1;
}

.dropdown-menu4 {
	position: absolute;
	float: left;
	width: 100%;	
	height: auto;
	padding: 1.5% 2%;
	font-size: 14px;
	background-color: #FFF;
	border-width: 1px;
	border-style: none solid solid;
	border-color: #F2F2F2;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #000;
	overflow: auto;
	display: none;
	left: 0;
	top: 60px;
	z-index: 1;
}
.borderbottom1 {
 	position: absolute;
	float: left;
	width: 150px;
	height: auto;
	left: 28px;
	border-bottom: 5px solid #FFF;
	top: 55px;
	display: none;
}
.borderbottom2 {
 	position: absolute;
	float: left;
	width: 64px;
	height: auto;
	left: 232px;
	border-bottom: 5px solid #FFF;
	top: 55px;
	display: none;
}
.borderbottom3 {
 	position: absolute;
	float: left;
	width: 54px;
	height: auto;
	left: 340px;
	border-bottom: 5px solid #FFF;
	top: 55px;
	display: none;
}
.borderbottom4 {
 	position: absolute;
	float: left;
	width: 88px;
	height: auto;
	left: 445px;
	border-bottom: 5px solid #FFF;
	top: 55px;
	display: none;
}
.borderbottom5 {
 	position: absolute;
	float: left;
	width: 88px;
	height: auto;
	left: 592px;
	border-bottom: 5px solid #FFF;
	top: 55px;
	display: none;
}
.borderbottom6 {
 	position: absolute;
	float: left;
	width: 105px;
	height: auto;
	left: 739px;
	border-bottom: 5px solid #FFF;
	top: 55px;
	display: none;
}
.borderbottom7 {
 	position: absolute;
	float: left;
	width: 66px;
	height: auto;
	left: 900px;
	border-bottom: 5px solid #FFF;
	top: 55px;
	display: none;
}
.dropdown-menu5 {
	position: absolute;
	float: left;
	width: 100%;	
	height: auto;
	padding: 1.5% 2%;
	font-size: 14px;
	background-color: #FFF;
	border-width: 1px;
	border-style: none solid solid;
	border-color: #F2F2F2;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #000;
	overflow: auto;
	display: none;
	left: 0;
	top: 60px;
	z-index: 1;
}
.stadiumimages {
	position: relative;
	float: left;
	left: 14px;
	top: 0;
	height: 194px;
	width: 740px;
	opacity: 0.7;

}
.stadiumimages:hover{
	opacity: 1;
}
.stadium1 img{
	height: 194px;
	width: 740px;
}
.gallery p {
	height: 20px;
}
.dropdown-menu6 {
	position: absolute;
	float: left;
	width: 100%;	
	height: auto;
	padding: 1.5% 2%;
	font-size: 14px;
	background-color: #FFF;
	border-width: 1px;
	border-style: none solid solid;
	border-color: #F2F2F2;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #000;
	overflow: auto;
	display: none;
	left: 0;
	top: 60px;
}
.smallFanZone {
	position: relative;
	float: left;
	left: 14px;
	top: 0;
	height: 194px;
	width: 740px;
	opacity: 0.7;

}
.smallFanZone:hover{
	opacity: 1;
}
.FanZone img{
	height: 194px;
	width: 740px;
}
.fan {
	position: relative;
	float: left;
	top: -59px;
	width: 740px;
	height: 60px;
	opacity: 0.9;
	color: white;
}
.fan p {
	position: relative;
	font-size: 16px;
	top: 5px;
	width: 332px;
	height: 16px;
	margin-left: 10px;
	margin-top: 10px;
}
.dropdown-menu7 {
	position: absolute;
	float: left;
	width: 100%;	
	height: auto;
	padding: 1.5% 2%;
	font-size: 14px;
	background-color: #FFF;
	border-width: 1px;
	border-style: none solid solid;
	border-color: #F2F2F2;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #000;
	overflow: auto;
	display: none;
	left:0;
	top: 60px;
	z-index: 1;
}
.season {
	position: relative;
	float: left;
	left: 14px;
	top: 0;
	height: 194px;
	width: 740px;
	opacity: 0.7;

}
.season:hover{
	opacity: 1;
}
.season img{
	height: 194px;
	width: 740px;
}
.subtitlesImg {
	position: relative;
	float: left;
	top: -59px;
	width: 740px;
	height: 60px;
	opacity: 0.9;
	color: #B70C0C;
}
.subtitlesImg p {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	top: 5px;
	width: 332px;
	height: 16px;
	margin-left: 10px;
	margin-top: 10px;
}
#menuafterscroll {
	opacity:1.0;
	position: fixed;
	width: 100%;
	background:  #F8F8F8;
	height: 60px;
   	padding: 0;
   	top:0px;
   	visibility: visible;
   	display: block;
   	float: left;
   	z-index: 1;   	
   }
 .bytoviamini {
 	display: block;
	position: absolute;
	top: 0px;
	left: 1.47%
 }

#carouselcolorbackground{
	background-color:#080808;
	width: 100%;
}
.carousel-inner {
	height: 557px;
}
#wrappercenter {
	margin: 0;
}
.wrappernewsnextmatch {
	position:relative;
	height: 266px;
}
.wrappernewscenter {
	width: 50%;
	margin: 0px;
	padding: 0px;
	position: relative;
	float: left;
	height: 266px;
	cursor: pointer;
}
.imgnewscenter {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}
.imgnewscenter img {
	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  }
.imgnewscenter img:hover {
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.15,1.15);
    opacity: 0.5;
}

.titlenews1 {
	position: absolute;
    text-align: center;
    color: #FFF;
    font-family: MouseoSans_500;
    font-weight: normal;
    font-size: 30px;
    line-height: 65px;
    background-color: red;
    width: 100%;
    height: 70px;
    background-color: rgba(164, 28, 21, 0.6);
    top: 196px;
}
.wrappernextmatchcenter {
	width: 50%;
	position: relative;
	float: right;
	height: 266px;
	background-color: #121212;
}
.imgnextmatchscenter {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
#homepage {
	padding: 0px 1.5625%;
	margin-bottom: 40px;
	width: 100%;
}
.homepagecenter {
	color: #000;
}
.homepagecenterhead {
	height:85px;
	margin-bottom: 4.0404%;
}
.homepagecenterhead > div {
	border-bottom: 1px solid #CDCDCD;
    text-transform: uppercase;
    height: 85px;
}
.homepagecenterhead > div > span {
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    vertical-align: bottom;
    font-family: MouseoSans_500;
    border-bottom: 2px solid #B51D16;
    margin-top: 15px;
    margin-bottom: 4.0404%;
}
.homepagecenternews {
   	text-align: center;
}
.homepagecenternews ul {
	float: left;
    text-align: left;
    width: 100%;
}
.homepagecenternews a {
	text-decoration: none;
	color: #000;
}
.hpnewstitle {
	float: left;
	text-align: left;
	width: 100%;
	text-decoration: none;	
}
.hpnewstitle {
	list-style: outside none none;
	margin: 0px;
	padding: 0px;
}
.hpnewstitle li {
	width: 33.3333%;
	float: left;

}
.hpnewstitle li a {
	position: relative;
	display: block;
	overflow: auto;
	margin: 0px 0px 30px;
	padding: 10px;
	color: #000;
}
.hpnewstitle li a .hpnewsimage {
	position: relative;
	overflow: hidden;
	display: block;
}
.hpnewstitle li a .hpnewsimage img {
	width: 100%;
	vertical-align: bottom;
}
 .information {
	display: block;
	font-family: MouseoSans_500;
	font-size: 12px;
	margin: 10px 0 0;
	color: #686868;
}
.information .date1 {
	color: #686868;
	font-size: 12px;
}
.hpnewstitle .title {
	display: block;
    font-family:  MouseoSans_500;
    font-size: 26px;
    line-height: 1.2em;
    font-weight: normal;
    color:#000;
    transition: color 700ms ease;
    transition-property: color;
    transition-duration: 700ms;
    transition-timing-function: ease;
    transition-delay: initial;
    text-transform: none;
}
.buttonmore {
	cursor: pointer;
	display: inline-block;
	padding: 0.3em 25px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	border-style: solid none;
	line-height: 1em;
	height: 2em;
	background-color: transparent;
	color: #000;
	white-space: nowrap;
	font-family: MouseoSans_500;
}
.hpnewsimage img {
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
}
.hpnewsimage img:hover {
      transition: all 1s ease;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.15,1.15);
    opacity: 0.5;
}
.homepagegallery {
	height: 85px;
    margin-bottom: 4.0404%;
    color: #000;
}
.homepagegallery  > div {
	border-bottom: 1px solid #CDCDCD;
    text-transform: uppercase;
    height: 86px;
}
.homepagegallery > div > span {
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    vertical-align: bottom;
    font-family: MouseoSans_500;
    border-bottom: 2px solid #B51D16;
    margin-top: 15px;
    margin-bottom: 4.0404%;
}
.gallery{
	position: relative;
    display: block;
}
.gallery a {
	margin-top: 35px;
	margin-left: 460px;
	text-decoration: none;
	color:#000;
}
.gallery1 {
	position: relative;
	float: left;
	cursor: pointer;
	overflow: hidden;
	height: 224px;
}
#d1 {
	margin:0 auto;
}
#d2 {
	color:white;
	background: rgba(164, 28, 21, 0.9);
	padding:10px;
	margin-top: 0px; 
	transition:0.3s;
	z-index: 1;

}
#d1:hover #d2 {
	margin-top:-40px;
}
.gallery1title {
	text-align:center; 
}
.gallery1title strong {
	color: white;
}
.gallery2title {
	text-align:center; 
}
.gallery2title strong {
	color: white;
}
.gallery3title {
	text-align:center; 

}
.gallery3title strong {
	color: white;
}
.gallery1img img {
	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
}
.gallery1img img:hover {
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.15,1.15);
    opacity: 0.2;
}
.gallery1title p {
	 font-family: MouseoSans_500;
	 font-size: 15px;
	 text-align: center;
}
.gallery2title p {
	 font-family: MouseoSans_500;
	 font-size: 15px;
	 text-align: center;
}
.gallery3title p {
	 font-family: MouseoSans_500;
	 font-size: 15px;
	 text-align: center;
}
.gallery2 {
	position: relative;
	float: left;
	cursor: pointer;
	overflow: hidden;
	height: 224px;

}
.gallery2img img {
	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
}
.gallery2img img:hover {
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.15,1.15);
    opacity: 0.2;
}

.gallery3 {
	position: relative;
	float: left;
	cursor: pointer;
	overflow: hidden;
	height: 224px;

}
.gallery3img img {
	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
}
.gallery3img img:hover {
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.15,1.15);
    opacity: 0.2;
}
.homepagetable {
	height: 85px;
    margin-bottom: 4.0404%;
    color: #000;
}
.homepagetable > div {
	border-bottom: 1px solid #CDCDCD;
    text-transform: uppercase;
    height: 86px;
}
.homepagetable > div > span {
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    vertical-align: bottom;
    font-family: MouseoSans_500;
    border-bottom: 2px solid #B51D16;
    margin-top: 15px;
    margin-bottom: 4.0404%;
}
.tableposition {
	position: relative;
	float: left;
	text-transform: uppercase;
}
.tablepositionIV {
	position: relative;
	float: right;
	text-transform: uppercase;
}
.tablepositionIV a {
	margin-top: 20px;
	text-decoration: none;
	color: #000;
	text-transform: none;
}
.nameofleagueI {
	width: 100%;
	color: #000;
	font-family: MouseoSans_500;
	margin-bottom: 15px;
}
.nameofleagueIV {
	width: 100%;
	color: #000;
	font-family: MouseoSans_500;
	padding: 4px;
	margin-top: 4px;
}
.nameofleagueJunior {
	width: 100%;
	color: #000;
	font-family: MouseoSans_500;
	padding: 4px;
	margin-top:19px;
}
.tableIVleague {
	width: 390px;
	font-family: MouseoSans_500;
	color: #000;
	border:none;
	font-size: 13px;
}

.tableIleague {
	width: 600px;
	font-family: MouseoSans_500;
	color: #000;
	border:none;
}
.tableIleague > thead > tr > th {
	color: #A41C15	;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	min-width: 40px;
	text-align: left;
	border: none;
}

.tableIleague > thead > tr > th.tablecenter {
	text-align: center;
}
.tableIleague > thead > tr > th.tablecenter.promotion {
	border-left: 5px solid green;
}
.tableIleague > tbody > tr > td {
	height: 30px;
	vertical-align: middle;
	border-right: none;
	border-left: none;
}
.tableIVleague > thead > tr > th.tablecenter {
	text-align: center;
}
.tableIVleague > thead > tr > th.tablecenter.promotion {
	border-left: 5px solid green;
}
.tableIVleague > tbody > tr > td {
	height: 30px;
	vertical-align: middle;
	border-right: none;
	border-left: none;

}
.tableIVleague thead {
	color:#000;
}
.tableIVleague > thead > tr > th {
	color: #A41C15	;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	min-width: 40px;
	text-align: left;
	border: none;
}
tbody tr td:first-child {
	width: 5px;
}
tbody tr td.activeteam {
	color: #A41C15;

}
tbody tr td.tablecenter {
	text-align: center;
}
tbody tr td.tablecenter.tablecenter.activeteam {
	color: #A41C15;
}

tbody tr td.contras.tablecenter {
	height: 100%;
	background-color:#181818;
	color: #FFF;
}
tbody tr td.promotionarrow {
	width: 5px;
}
tbody tr td.crestmini {
	text-align: right;
}
tbody tr td.promotion {
	border-left: 5px solid green;
	border-bottom: none;
	border-top: none;
}
tbody tr td.fallarrow {
	width: 5px;
}
tbody tr td.fall {
	border-left: 5px solid red;
	border-bottom: none;
	border-top: none;
}
.tableposition a {
	margin-top: 20px;
    text-decoration: none;
    color: #000;
    text-transform: none;
}
#ostatnieWydarzenia{
	width: 1170px;
	margin-left: -16px;
	height: 450px;
	background-color: #B8B8B8;
	top:-1px;
}
.news1 {
	height: 300px;
	width: 100%;
	float:left;
 }
 .subtitcarousel {
 	position: relative;
	float: left;
	width: 990px;
	height: 100px;
	top: -130px;
	text-align: center;
	font-family: MouseoSans_500;
	font-weight: normal;
	font-size: 40px;
	background-color: rgba(164, 28, 21, 0.6);

 }
.subtitcarousel a {
	text-decoration: none;
	color: #f9f9f9;
	opacity: none;
	vertical-align: middle;
}
.subtitcarousel a strong {
	position: relative;
	top: 15px;
}
.carousel-indicators {
    bottom: 0px;
}
.carousel-indicators .active {
    width: 44px;
    height: 6px;
    margin: 0px;
    background-color: #C8544E;
}
.carousel-indicators li {
	display: inline-block;
	text-indent: -999px;
	cursor: pointer;
	background-color: white;
	width: 44px;
	height: 5px;
	border:none;
}
.obramowanie {
	position: relative;
	float:left;
	background-color:#929096;
	width:1170px;
	height: 80px;
    top: -80px;
    left: 0;
	opacity: 0.8;
}
.obramowanie a {
	text-decoration: none;
	color: white;	
}
.titleNews {
	position: relative;
	float: left;
	left: 180px;
    top: 2px;
    width: 100px;
    height: 20px;
}
.contentsNews {
	position: relative;
	float: left;
	left: 79px;
    height: 30px;
    width: 430px;
    top: 30px;
    text-transform: uppercase;
    font-size: 18px
}
.moreInfo {
	position: relative;
    float: left;
    width: 40px;
    height: 20px;
    top: 56px;
    left: -352px;
    font-size: 10px;
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
    text-align: center;
    padding: 2px;
}

.width1 {
    width: 780px;
    margin-right: 20px;
}
.width2 {
	width: 370px;
}
.panel {
	border:none;
}
.col-md-8.margin-right {
    margin-right: 21px;
}
.slick-list {
	overflow: hidden;
	display: block;
	margin: 0px;
}
.slick-track {
	left: 0px;
	top: 0px;
	display: block;
}
.slidernextmatch {

	height: 266px;
}
.nextmatch {
	position: absolute;
	float: left;
	background-color: #3D3D3D;
	height: 266px;
	width: 495px;
}
.nextmatch1 {
	position: relative;
	float: left;
	background-color: #3D3D3D;
	height: 266px;
	width: 495px;
	display: none;

}
.nextmatch2{
	position: relative;
	float: left;
	background-color: #3D3D3D;
	height: 266px;
	width: 495px;
	display: none;
}
.clear {
    clear:both;
}
.headernextmatch {
	position: relative;
	float: left;
	width: 100%;
	height: 45px;
	background-color: #B51D16;
	opacity: 0.9;
}
.headernextmatch h4{
	margin-left: 10px;
	color: white;
    text-transform: uppercase;
}
.matchtitle {
	position: relative;
    float: left;
    width: 100%;
	text-align: center;
	height: 43px;
	text-transform: uppercase;
}
.centernextmatch {
	float: left;
	position: relative;
	top: 15px;
	width: 100%;
	height:100px;
}

.centernextmatch p {
	position: relative;
	float: left;
	font-weight: 900;
	color: #D2D5D6;
	text-transform: uppercase;
	font-size: 2rem;
	top: -60px;
	width: 100%;
	text-align: center;
}
.positioncrest1 {
	position: relative;
    left: 90px;
    float: left;
}
.buttonright {
	position: relative;
    float: right;
    top: -104px;
    width: 30px;
    height: 60px;
    border:none;
}
.buttonleft {
	position: relative;
	float: left;
	top:-104px;
	width: 30px;
	height: 60px;
	border:none;
	left: -97px;
}
.buttonleft1 {
	position: relative;
    float: left;
    top: -104px;
    width: 30px;
    height: 60px;
    border: none;
    left: -80px;
}
.buttonright img {
	text-align: center;
}
.positioncrest2 {
	position: relative;
	float: left;
	left:323px;
	top: -115px;
}
.footernextmatch {
	position: relative;
	float: left;
	width: 100%;
	height: 46px;
	background-color: #B51D16;
	opacity: 0.9;
	top: 32px;
}
.fixtures {
	position: relative;
	float: right;
	right: 15px;
	top: 14px;
}
.fixtures img {
	position: relative;
	float: left;
	top: -14px;
	left: -20px;
}
.fixtures a{
	text-transform: uppercase;
	text-decoration: none;
	color:#FCFCFC;
	position: relative;
	top: -3px;
	font-size: 16px;
	font-weight: 900;
}
table, tr, td {
border: 0px solid #DDDDDD;
}
table, th, td {
    border: 1px solid black;
}

.table1 {
	position: relative; 
	left: -16px;
	float: left;
	width:370px;
	background-color: #FEFEFE;
}
.headertable1 {
	position: relative;
	float: left;
	left: 1px;
	width: 370px;
	height: 80px;
	background-color: #7B1E1E;
	opacity: 0.9;
}
.headertable1 h4 {
	margin-left: 10px;
	color: white;
    text-transform: uppercase;
}
.intable {
	position: relative;
	top: -4px;
	left: 60px;
	float: left;
	width: 300px;
	height: 250px;
	margin:5px ;
	border: none;
}
.awans {
	background-color: #80FF80;
}
.center {
	padding: 3px;
}
.footertable {
	position: relative;
	top: 3px;
	left: 1px;
    float: left;
    width: 370px;
    height: 60px;
    background-color: #6D0505;
    opacity: 0.9;
}
.buttontable {
	position: relative;
	top: 24px;
    left: 249px;
	height: 34px;
    color: white;
    text-transform: uppercase;
}
.lastmatch {
	position: relative;
	float: left;
	left: -14px;
	top: 10px;
	height:300px;
	width: 380px;
}
.titlelastmatch {
	position: relative;
	top:-100px;
	float: left;
	width: 380px;
	height: 100px;
	background-color:#6D0505;
	opacity: 0.8; 
}
.subtitleslastmatch {
	position: relative;
	float: left;
	color: #F5F0F0;
	margin-left: 10px;
}
.subtitleslastmatch p{
	margin-left: 40px;
}
.stadium {
	position: relative;
	float: left;
	top: 10px;
	height:300px;
	width: 350px;
	left: -4px;
}
.stadium img {
	width: 380px;
	height:300px;
}
.titlestadium {
	width: 380px;
	height: 100px;
	position: relative;
	top: -100px;
	background-color: #6D0505;
	opacity: 0.8;
}
.subtitlestadium {
	position: relative;
	float: left;
	color: #F5F0F0;
	margin-left: 10px;
}
.subtitlestadium p {
	margin-left: 70px;
}

.sponsorwindow {
	position: relative;
	float: left;
	top: 10px;
	width: 369px;
	height: 215px;
	background-color: #FDFE40;
	padding: 5px;
	left: 6px;
}
.adidasbanner {
	position: relative;
	float: left;
	top: 10px;
	width: 369px;
	height:85px;
	background-color: #060606;
	left: 6px;
}
#ostatnieWydarzeniaReserve {
	position: relative;
	float: left;
	height: 300px;
	width: 380px;
	top:20px;
	left: -14px;

}
.caption1 {
	position: relative;
	float: left;
	top: 0px;
	background-color: #6D0505;
	width: 380px;
	margin-left: -76px;
	height: 100px;
}
.control1 {
	height: 200px;
}
.control2 {
	height: 200px;
}
#ostatnieWydarzeniaJunior {
	position: relative;
	float: left;
	height: 300px;
	width: 380px;
	top:20px;
	left: -4px;
}
.adidasshopofficial {
	position: relative;
	float: left;
	top: 20px;
	width: 370px;
	height: 300px;
	left: 6px;
}
.enteradidasshop {
	position: relative;
	width: 370px;
	height: 100px;
	background-color:#131313;
	top: -100px;
	opacity: 0.6;
}
.padd1 {
	padding: 0px;
	margin-top: 40px;
}
.padd1 .listing {
	border-bottom: 1px dotted #181818;

}
.padd1 .listing:last-child {
	border-bottom: none;
}
.padd1 .listing a {
	text-decoration: none;
	color: black;
}

.listing {
	padding: 0px 0px 10px;
	margin-bottom: 10px;
}

.image {
	padding:0px;
	position: relative;
	width: 390px;
}
.image img {
	width: 335px;
	height: 225px;
}
.title {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 1s ease-in-out;
}
ul li:hover .title {
    color:#B51D16;
    transition: all 1s easy-in-out;
}
ul li:hover .hpnewsimage img{
	transition: all 1s easy-in-out;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    opacity: 0.5;
}
.title h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px;
	color: black;
	text-decoration: none;
}

.date {
	margin: 20px 0px;
	font-size: 12px;
	display: block;
	letter-spacing: 3px;
}
.teaser {
	font-size: 24px;
	display: block;
	line-height: 29px;
	color: #181818;
	font-family: Arial;
}
.padd1Old {
	padding: 0px;
}
.padd1Old .listing {
	border-bottom: 1px dotted #181818;

	padding: 0px 0px 10px;
	margin-bottom: 10px;
} 
.padd1Old .listing a {
	text-decoration: none;
	color: black;
}
.line-half {
	background-image: url("../photos/line-half.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% 8px
}
.pad-top-15 {
    padding-top: 40px;
}
.archive {
	width: 770px;
	padding: 5px 0px;
    border-bottom: 1px dotted #181818
}
.archive::after {
    background-size: 100% 8px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("../photos/line-half.png");
}

.archive:last-child {
    border: 0; }

.imageOld {
	padding:0px;
	position: relative;
	width: 250px;
}
.imageOld img {
	width: 200px;
	height: 125px;
}
.data {
	position: relative;
	top: 0px;
	left: 0px;
	width: 430px;
}
.data .title h3 {
	text-decoration: none;
}
.messages {
	position: relative;
	float: right;
	text-align: center;
	padding-bottom: 10px;
	height: 583px;
}
.messagesHover:hover {
	opacity: 0.8;
}
.messages::before {
	position: absolute;
	background: transparent url("../photos/bg-aside.png") repeat-y scroll left center;
	width: 15px;
	top: 0px;
	left: -40px;
	height: 100%;
	display: block;
	content: " ";
}
.messages::after {
	position: absolute;
	background: transparent url("../photos/bg-aside.png") repeat-y scroll left center;
	width: 15px;
	top: 0px;
	left: 285px;
	height: 100%;
	display: block;
	content: " ";
}
.lh-60 {
	line-height: 60px;
	margin-top: 0px;
}
.lh-60 h3 {
	margin: 0px;
	width:105%;
	height: 2000%;
	background-color: #6D0505;
	opacity: 0.9;
	color: white;
}
.message {
	left: -27px;
}
.wrapperImageSponsor{
 padding: 0px;
 position: relative;
 top: 35px;
}
.wrapperImageSponsor img {
	display: block;
	width:244px;
	height: 515px;
}
.sponsorbaner {
	position: relative;
	left: -15px;
	top: 30px;
	width:1170px;
	height: 119px;
	margin-bottom:30px;
}
#social {
    min-height: 444px;
    background: url(../photos/tlo.jpg);
}
#social .yt {
	margin-bottom: 10px;
}
.yt	{
	float: left;
	height: 100%;
}
.yt img {
	position: relative;
	float: right;
	top: -45px;
}
#social .yt h3 {
	color:#FFFFFF;
}
#social .fb {
	margin-bottom: 10px;
}
#social .fb h3 {
	color:#FFFFFF;
}
.fb {
	float: left;
	height: 100%;
}
.fb img {
	position: relative;
	float: right;
	top: -45px;
}
.borderfacebook {
	border: 1px solid #FFF;
	width: 525px;
	height: 315px;
	position: relative;
	top: 50px;
}
.borderfacebook img {
	position: relative;
    width: 523px;
    height: 314px;
    top: -49px;
}
.backgroundcolorsponsor{
	width: 100%;
	background-color: #DCE3ED;
	height: 544px;
}
.logo {
	opacity: 1;
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: relative;
	left: -15px
}
.logo img {
	position: relative;
	float: left;
	margin-top: 30px;
}
.logos {
	float: left;
   	list-style: none;	
   	margin-left: 39px;
   	margin-top: 40px;
   	opacity: 1;
   	text-align: center;
}
.logo:hover img {
	opacity: 0.9;
}
.wallper1 {
	background-image: url('../photos/wallpaper.jpg');
	border-top: 3.5px solid;
}
.textfooter1 {
	margin-top: 10px;
	float: left;
	color: #CCCCCC;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.widget-title {
	text-transform: uppercase;
	font-size: 24px;
}
.herbfooter {
	margin-top: 22px;
	width: 150px;
	float: left;
	margin-bottom: 20px;
	margin-left: 0;
	margin-top: 0;
}
.menumini {
	padding: 0px;
	width: 3soci50px;
	position: relative;
	top: 96px;
	height: 80px;
	float: left;
}
.menumini ul {
	text-decoration: none;
	list-style: outside none none
}
.menumini li {
	width: 40%;
	float: left;
	margin-bottom: 15px;
	margin-right: 10px;
	text-decoration: none;

}
.menumini li a:hover {
	color:#BA2922;
}
.menumini ul li a {
	text-decoration: none;
		color: #CCCCCC;
}
.menumini > li > a:hover {
	color:#A70000;
 	background: none;
 	transition:0.2s;
}
.daneklubu {
	position: relative;
	color: #CCC;
	float: right;
	top: 74px;
	left: -40px;
}
.social {
	position: relative;
	float: left;
 	top:95px;
 	width: 217px;
 	left: 2px;
 }
.list-follow {
	width: 100%;
	height: 100%;
}
.list-follow ul li {
	z-index: 1;
	list-style: outside none none;
	display: inline;
	margin: 10px;
}

.obramowaniefooter {
	padding-top: 5px;
 	border-top: 3.5px solid #B70C0C;
 	background-color: #4D4D4D;
}
.text-center {
	text-align: center;
	color: #CCCCCC;
}
.text-center ul{
	text-decoration: none;
	color: #CCCCCC;
} 


#pagename {
	left: 50%;
	margin-left: -495px;
	background-color: #FFF;
	position: relative;
	width: 990px;
	top: -20px;
}
.background {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    background: #000 none repeat scroll 0% 0%;
    z-index: -1;
}
.big {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    background: #000;
    z-index: -1;
}
.big img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
}
#pagename .wrapper h1 {
	color: #000;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-family: MouseoSans_500;
    font-weight: normal;
    padding: 20px 0px;
}
#pagename11 {
	left: 50%;
	margin-left: -495px;
	background-color: #FFF;
	position: relative;
	width: 990px;
	top: -20px;
}
#pagename11 .wrapper h1 {
	color: #000;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-family: MouseoSans_500;
    font-weight: normal;
    padding: 20px 0px;
    margin-top: 60px;
}

.backgroundwrapper .wrapper {
	margin: 0px auto;
	padding: 0px;
	height: inherit;
	position: relative;
	max-width: 990px;
	color: #FFF;
}
.btd-modul {
	margin-top: 40px;
	padding: 0px 1.5625%;
}
.modul-content ul {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}
.titleline > div {
	border-bottom: 1px solid #CDCDCD;
	text-transform: none;
	overflow: auto;
}
.titeline > div > div {
	float: left;
}

.titleline > div > div strong.activn span:first-child {
    border-bottom-color: #000;
   	color:#000;
}

.titleline > div > div strong span {
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 2px solid transparent;
    color: #686868;
    line-height: 80px;
    font-family:  MouseoSans_500;
    font-size: 30px;
}
.titleline > div > div strong.activn span.activesub {
	color: #686868;
	font-size: 30px;
}
.modul-content ul li a {
    padding: 15px 15px 15px 369px;
    min-height: 167px;
    position: relative;
    display: block;
    overflow: auto;
    font-family: MouseoSans_500;
    color: #000;
    text-decoration: none;
    transition: background 700ms ease 0s;
}
.modul-content ul li a .time {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 80px;
    font-size: 30px;
    height: 80px;
}
.modul-content ul li a .time span {
	display: block;
	line-height: 1em;
	margin-top: 8px;
}
.modul-content ul li a .time span.iconFont {
    color: #9A9A9A;
    line-height: 0.8em;
    text-indent: -0.15em;
}
.modul-content ul li a .imagenews::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    z-index: 1;
    opacity: 0;
}
.modul-content ul li a .imagenews {
    position: absolute;
    top: 15px;
    left: 95px;
    width: 220px;
    overflow: hidden;
    display: block;

}
.modul-content ul li a .imagenews img {
	vertical-align: bottom;
	width:100%;
	
  }

.modul-content ul li a .imagenews img:hover {
    transition: all 1s ease;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    opacity: 0.5;
}
.mediaTypeNews::after {
position: absolute;
bottom: 0px;
right: 0px;
width: 42px;
height: 42px;
line-height: 42px;
font-size: 24px;
text-align: center;
background: #000 none repeat scroll 0% 0%;
color: #FFF;
z-index: 10;
}

.modul-content ul li a .information12 {
    display: block;
    font-family:MouseoSans_500;
    color: #686868;
    font-size: 12px;
}

.modul-content ul li a .titlenewsstrong {
    display: block;
    font-family: MouseoSans_500;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: normal;
    margin: 0px 0px 0.3em;
    transition: color 700ms ease 0s;
}
ul li:hover .titlenewsstrong {
    color:#B51D16;
    transition: all 1s easy-in-out;
}
ul li:hover .imagenews img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0.5;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.15,1.15);
}
.modul-content ul li a .textnews {
    display: block;
    font-family: MouseoSans_500;
    font-size: 16px;
    color: #686868;
}
.buttonpositionnews {
	margin-left: 415px;
	margin-bottom:-20px;
	margin-top: 40px;
	padding: 20px;
	width: 135px;
}
.buttonpositionnews a{
	text-decoration: none;
	color: #000;
}

.imgadress {
	position: relative;
	float: left;
	left: 218px;
	top: 22px;
}
form.filter {
	color: #000;
	font-family: MouseoSans_500;
	margin-bottom: 40px;
}
form.filter input {
	height: 40px;
    margin: 0px;
    max-width: 135px;
    padding: 0px 10px;
    color: inherit;
    font: inherit;
    vertical-align: bottom;
    background-color: transparent;
}
input {
	border: 1px solid #CDCDCD;
}
form.filter > span {
    display: inline-block;
    margin: 5px auto;
}
form.filter label:first-child {
    margin-left: 0px;
}
form.filter label {
    display: inline-block;
    margin: 0px 5px;
    font-size: 12px;
    line-height: 40px;
    vertical-align: bottom;
}
form.filter input.datefield {
	width: 130px;
	text-align: center;
}
form.filter input {
	height: 40px;
	margin: 0px;
	max-width: 135px;
	padding: 0px 10px;
	color: inherit;
	font: inherit;
	vertical-align: bottom;
	background-color: transparent;
}
form.filter button.ui-datepicker-trigger {
	font-size: 22px;
	text-transform: none;
	border-style: none;
	cursor: pointer;
}
form.filter button {
	height: 40px;
	max-width: 135px;
	padding: 0px 10px;
	color: inherit;
	font: inherit;
	vertical-align: bottom;
	background-color: transparent;
	margin: 0px;
}
form.filter select {
	height: 40px;
	max-width: 135px;
	padding: 0px 10px;
	color: inherit;
	font: inherit;
	vertical-align: bottom;
	background-color: transparent;
	margin: 0px;
}
form.filter > span .selectboxit-container {
    display: initial;
    }
.selectboxit-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
}
form.filter input[type="submit"] {
	border-style: none;
	cursor: pointer;
}
.filterposition1 {
	position: relative;
	float: left;
	width: 215px;
}
.ui-datepicker-trigger {
	position: relative;
	float: left;
	left: 170px;
	top: -45px;
}
.select {
	position: relative;
	float: left;
	top: 10px;
	top: -88px;
	left: 445px
}
.backgroundcolorsponsor1 {
	height: 143px;
	background-color: #000000;
}
.backgroundcolorsponsor1 img {
	position: relative;
	float: left;
	top: -76px;
}
.backgroundWrapper {
	background-color: #212121;
	height: 100%;
}
.matchWrapper {
    text-align: center;
}
.matchWrapper > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 10px;
}
.btd-module.width-100 .module-headline {
    margin-bottom: 4.0404%;
}
.btd-module .module-headline > div {
    text-transform: uppercase;
    border-bottom: 1px solid #CDCDCD;
}
.btd-module-match .matchWrapper > ul > li {
    border: 0px none;
    padding: 0px;
}
.btd-module .module-headline > div > span {
    border-bottom: 2px solid;
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    transition: all 250ms ease 0s;
    vertical-align: bottom;
    font-family: MouseoSans_500;
    margin-top: 25px;
}
.matchWrapper > ul > li {
    border-top: 1px solid #CDCDCD;
    padding: 40px 0px;
    margin: 0px;
}
.matchWrapper .place {
    font-size: 16px;
    color: #686868;
    font-family: MouseoSans_500;
}
.matchWrapper > ul > li ul {
    padding: 0px;
    margin: 15px 20px 0px;
    width: 100%;
}
.clearfix {
    display: block;
}
.matchWrapper > ul > li ul li.name {
    margin: 7px 0px 0px;
    line-height: 100px;
    padding-right: 5px;
    font-size: 44px;
    color: #FFF;
    font-family: MouseoSans_500;
    font-weight: normal;
    width: 31%;
    text-align: right;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.matchWrapper > ul > li ul li {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}
.matchWrapper > ul > li ul li.logo1 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.matchWrapper > ul > li ul li.result {
    width: 14%;
    text-align: center;
}
.matchWrapper > ul > li ul li.logo1 {
    height: 100px;
    width: 109px;
    margin-top: 7px;
}
.matchWrapper > ul > li ul li.result span.post:first-child {
    margin-top: 36px;
}
.matchWrapper > ul > li ul li.result span:first-child {
    line-height: 0.7em;
    font-size: 45px;
}
.matchWrapper > ul > li ul li.result span {
    color: #FFF;
    float: left;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    font-family: MouseoSans_500;
    font-weight: normal;
}
.matchWrapper > ul > li ul li.logo1 + .name {
    padding-right: 0px;
    padding-left: 5px;
}
.matchWrapper > ul > li ul li.name:last-child {
    text-align: left;
    margin-left: 15px;
}
.matchWrapper > ul > li ul li.name:last-child {
    text-align: left;
    margin-left: 20px;
	font-size: 54px;
	font-weight: 900;
}
.matchWrapper > ul > li .buttonswrapp {
    margin: 50px 0px 0px;
    }
    .matchWrapper > ul > li .buttonswrapp .button {
    margin: 5px 20px;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    color: #FFF;
    margin-bottom: 53px;
}
.button.mvp {
    cursor: pointer;
    display: inline-block;
    padding: 0.3em 25px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-style: solid none;
    line-height: 1em;
    height: 2em;
    background-color: transparent;
    color: #000;
    white-space: nowrap;
    font-family: MouseoSans_500;
    font-weight: normal;
    transition:  all 1s ease;
}
.modul-content ul li a .titlenewsstrong1 {
    display: block;
    font-family: MouseoSans_500;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: normal;
    margin: 0px 0px 0.7em;
    transition: color 700ms ease 0s;
}
.modul-content ul li a {
    min-height: 167px;
    position: relative;
    display: block;
    overflow: auto;
    font-family: MouseoSans_500;
    color: #000;
    text-decoration: none;
    transition: background 700ms ease 0s;
    padding: 16px 1px 11px 330px;
}
.modul-content1 ul li a {
    min-height: 167px;
    position: relative;
    display: block;
    overflow: auto;
    font-family: MouseoSans_500;
    color: #000;
    text-decoration: none;
    transition: background 700ms ease 0s;
    padding: 16px 1px 11px 230px;
}
.modul-content1 ul li a .imagenews {
    overflow: hidden;
    display: block;
    position: absolute;
    width: 220px;
    top: 15px;
    left: 0px;
}
.modul-content1 ul {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}
.modul-content1 ul li a .titlenewsstrong1 {
    display: block;
    font-family: MouseoSans_500;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: normal;
    margin: 0px 0px 0.3em;
    transition: color 700ms ease 0s;
}
ul li:hover .titlenewsstrong1 {
    color:#B51D16;
    transition: all 1s easy-in-out;
}
ul li:hover .imagenews img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0.5;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.15,1.15);
}
.modul-content1 ul li a .textnews {
    display: block;
    font-family: MouseoSans_500;
    font-size: 16px;
    color: #686868;
}
.btd-module:first-child:not(.module-titled):not(.moduleTitle):not(.headline-wrapper):not(.btd-module-subnavigation):not(.btd-module-topteaser):not(.btd-module-player-profile) {
	margin-top: 40px;
}
.btd-module-includes:not(.includes-auto-liveticker) .btd-module {
	padding: 0px;
}
.moduleTitle > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    overflow: auto;
    color: #FFF;
    width: 970px;
    margin-left: 10px;
}
.moduleTitle > div > div {
    float: left;
    overflow: auto;
    transition: all 250ms ease 0s;
}
.moduleTitle > div > div strong span {
	display: inline-block;
    vertical-align: bottom;
    border-bottom: 2px solid transparent;
    color: #686868;
    line-height: 80px;
    font-family: MouseoSans_500;
    font-size: 40px;
    transition: all 250ms ease 0s;
    cursor: pointer;
}
.moduleTitle > div > div strong span:first-child {
    text-transform: uppercase;
}
.moduleTitle > div > div strong {
    display: block;
    float: left;
    margin: 0px 50px 0px 0px;
    font-weight: normal;
    transition: margin 250ms ease 0s;
}
.moduleTitle > div > div strong:last-child {
	margin-right: 0px;
}
.btd-module-includes:not(.includes-auto-liveticker) .module-content .short-version {
    text-align: center;
}
.btd-module-includes:not(.includes-auto-liveticker) .module-content .short-version ul {
    float: left;
    text-align: left;
    width: 100%;
}
.module-content ul {
	list-style: outside none none;
    margin: 0px;
    padding: 0px;
}
.module-content ul li:nth-child(3n+1) {
	clear: left;
}
.module-content ul li {
	float: left;
	width: 33.3333%;
}
.btd-module-includes:not(.includes-auto-liveticker) .module-content .short-version ul {
    text-align: left;
}
.module-content ul {
	list-style: outside none none;
}
.module-content ul li a {
    position: relative;
    display: block;
    overflow: auto;
    color: #FFF;
    margin: 0px 0px 30px;
    padding: 10px;
    transition: background 700ms ease 0s;
    text-decoration: none;
}
.module-content ul li a .image1 {
	position: relative;
    overflow: hidden;
    display: block;

}
.module-content ul li a .image1 img {
	width: 100%;
	vertical-align: bottom;
	transition: all 700ms ease 0s;
}
.mediaTypeVideo::after {
    content: "D";
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: auto !important;
    height: auto !important;
    line-height: 1em !important;
    margin-top: -1.05em;
    margin-left: -1.05em;
    padding: 0.55em 0.43em 0.55em 0.55em;
    text-indent: 0.12em;
    background: rgba(0, 0, 0, 0.5) url("../pics/layout/kreis_element_white.png") no-repeat scroll center center / 100% 100% padding-box;
    font-size: 36px;
    border-radius: 1.05em;
    transition: font-size 250ms ease 0s;
}
.module-content ul li a .information {
	display: block;
    font-family: MouseoSans_500;
    font-size: 12px;
    margin: 10px 0px 0px;
    color: #686868;
}
.module-content ul li a .title {
	display: block;
	font-family: MouseoSans_500;
	font-size: 26px;
	line-height: 1.2em;
	font-weight: normal;
	transition: color 700ms ease 0s;
}
#pagename1 .wrapper h1 {
	color: #FFF;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-family: MouseoSans_500;
    font-weight: normal;
    padding: 20px 0px;
    opacity: 0.8;
}
#pagename1 {
    margin-left: -495px;
    position: relative;
    width: 990px;
    top: -20px;
    left: 50%;
    background-color: #0D0103;

}
.moduleTitle > div > div strong.active span:first-child {
	border-bottom-color: #FFF;
}
.module-content .short-version ul + a {
    border-color: #FFF;
    clear: both;
    display: inline-block;
    margin: 25px auto;
    color: #FFF;
    border-top:2px solid;
    border-bottom:2px solid;
    text-decoration: none;
   	font-family: MouseoSans_500;
}
.ukryjmecze {
	width: 100px;
	height: 100px;
	background-color: red;
}
.backgroundWrapper1 {
	background-color: #0D0103;
}
.module-content ul li a .image1 img {
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
}
.module-content ul li a .image1 img:hover {
      transition: all 1s ease;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.15,1.15);
    opacity: 0.5;
}
ul li:hover .image1 img{
	transition: all 1s easy-in-out;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    opacity: 0.5;
}
.teaser {
	font-size: 26px;
    color: #181818;
    font-weight: 700;
    line-height: 35px;
    clear: both;
    margin-bottom: 30px;
    font-family:MouseoSans_500;
    text-align: center;
}
.teasermedia {
	width: 990px;
	text-align: center;
}
.teasermedia body tr {
	line-height: 1;
}
.articelmediacenterhead {
	color: black;
}
.articelmediacenterhead {
	height:85px;
	margin-bottom: 4.0404%;
}
.articelmediacenterhead > div {
	border-bottom: 1px solid #CDCDCD;
    text-transform: uppercase;
    height: 85px;
}
.articelmediacenterhead> div > span {
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    vertical-align: bottom;
    font-family: MouseoSans_500;
    border-bottom: 2px solid #B51D16;
    margin-top: 15px;
    margin-bottom: 4.0404%;
}
.atrcielmediastadium {
	width:990px;
	text-align: center;
}
.daneklubumedia {
	position: relative;
	color: #000;
	float: left;
	top: -26px;
	font-family: MouseoSans_500;
}
.imgadressmedia {
    position: relative;
    float: left;
    left: 260px;
    top: 15px;
}
.contentsticket {
	color: #000;
	font-family: MouseoSans_500;
}
.matchWrapper > ul > li ul li.competition {
    margin-top: 15px;
  
}
#pagename121 {
	left: 50%;
	margin-left: -495px;
	position: relative;
	width: 990px;
}
#pagename121 .wrapper h1 {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-family: MouseoSans_500;
    font-weight: normal;
    padding: 20px 0px;
    color: white;
}
.left_container {
    position: relative;
    left: 30px;
    top: 0px;
    width: 990px;
}
.title_1 {
    width: auto;
    background-color: #7A7A7A;
    color: #FFF;
    padding: 6px 16px 10px 15px;
    font-family: MouseoSans_500;
    font-weight: 500;
    text-transform: uppercase;
}
.content1 {
    padding: 0px 0px 15px;
}
.box_master {
    width: 990px;
    min-height: 120px;
    margin-top: 15px;
    position: relative;
}
.box_lewy {
    width: 200px;
    height: 140px;
    float: left;
}
.box_herby_2 {
    width: 100%;
    height: 100%;
    text-align: center;
}
.box_prawy {
    width: 690px;
    height: auto;
    float: right;
}
.box_zespoly {
    width: 100%;
    margin: 15px 0px;
}
.tb_mecz_title {
    font-family: MouseoSans_500;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.13em;
    text-align: left;
    color: #252525;
}
.tb_mecz_subtitle {
    font-family: MouseoSans_500;
    font-weight: 600;
    text-transform: uppercase;
    color: #AAA;
    font-size: 0.82em;
}
.box_data {
    width: 60%;
    float: left;
    position: absolute;
    bottom: 0px;
}
.box_kup {
    width: auto;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.tb_mecz_pakiet_cena {
    font-family: MouseoSans_500;
    font-weight: 500;
    color: #434343;
    font-size: 14px;
}
.button_zielony {
    height: 40px;
    background: #1F8234 url("../images/button_bg_1.png") no-repeat scroll right top;
    border: 0px solid #F50;
}
.button_zielony a {
    display: block;
    color: #FFF;
    vertical-align: middle;
    padding: 12px 0px 8px 14px;
    font-family: MouseoSans_500;
    font-weight: 600;
    font-size: 16.06px;
    text-transform: uppercase;
    text-decoration: none;
}
.clear {
    clear: both;
}

